<!DOCTYPE html>
<html>
  <head>
    <title>Texter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
  <div class="navebar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">&copy; Maldon Meehan & James Turello, <a href="https://www.learnhowtoprogram.com/rails/apis/texting-apps-two-day-project"  target="_blank">Epicodus Lesson</a></p>
      <a href="https://www.twilio.com/" class="navbar-btn btn-danger btn pull-right" target="_blank">Twilio</a>
    </div>
  </div>
</html>
